# Built files
freesweep
freesweep.6
configure
Makefile
Makefile.in
config.log
config.status
config.guess
config.sub
aclocal.m4
autom4te.cache/
.deps/
depcomp
missing
stamp-h1
compile
sweeprc
*.o

# Backup files from editors
\#*\#
*~
.\#*